div {
	text-align: center;
	margin-top: 100px;
	background: #CD5C5C;
	border-radius: 20px;
	height: 150px;
}
button {
	background: #95cde0;
	border: unset;
	outline: unset;
	width: 100px;
	height: 65px;
	margin-top: 45px;
}
button:hover {
	background: #6bf4e0;
}
* {
	font-family: monospace, sans-serif;
}
body {
	background: #358cd1;
}
p {
	text-align: center;
	margin-top: 45px;
	color: #FFFFFF;
}
#heb {
	margin-top: 75px;
}
#nulll {
	color: blue;
}
